# Production dependencies
-r requirements.txt

# Code quality tools
black==24.10.0
isort==5.13.2
flake8==7.1.1
pylint==3.3.1
pylint-django==2.6.1

# Testing tools
pytest==8.3.3
pytest-django==4.9.0
pytest-cov==6.0.0
coverage==7.6.7

# Debugging tools
ipython==8.29.0
ipdb==0.13.13

